<%- include('layout') %>
<h1>Your Cart</h1>
<ul>
    <% if (cart && cart.items.length > 0) { %>
        <% cart.items.forEach(item => { %>
            <li>
                <%= item.productId.name %> - <%= item.quantity %> x <%= item.productId.price %>
                <form action="/cart" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="productId" value="<%= item.productId._id %>">
                    <button type="submit">Remove</button>
                </form>
            </li>
        <% }); %>
    <% } else { %>
        <li>Your cart is empty.</li>
    <% } %>
</ul>
